

.timer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value {
    font-size: 30px;
}

.label {
    text-transform: uppercase;
}

.timer-go-back {
    text-align: center;
}

#datetime-picker {
    margin-top: 20px;
    margin-left: 20px;
}

